.left_nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 15px;
}

.contact_info {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa-linkedin,
.fa-github,
.fa-envelope {
  font-size: 30px;
  color: rgb(179, 175, 175);
}

.linkedin {
  position: sticky;
  top: 105px;
}

.github {
  position: sticky;
  top: 175px;
}

.email {
  position: sticky;
  top: 245px;
}

.fa-linkedin:hover,
.fa-github:hover,
.fa-envelope:hover {
  color: #d6589f;
}
